.button {
    flex: 1;
    background-color: black; /* Green */
    border: none;
    color: whitesmoke;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;


  }

  
  #game-controls {
    display: flex;
    width: 500px;
    flex-direction: row;
  }

  .flex-child {
    flex: 1,
  }

  #restartBtn {
    display:  none;
  }

  h1 {
    font-size: 26px;
    
  }

  h2 {
       font-size: 26px;
  }

  p {
      font-size: 16px;
      text-align: left;
      position: relative;
      top: 10px;
  }